<html>
body{
    background-color: gray;
}
#title{
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
}
p{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;

}

#img-div{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#fig-caption{
  font-family: sans-serif;
  font-size: 20px;
}

#timeLine{
    font-family: sans-serif;
  font-size: 20px;
  text-align: left;
}

#list{
   font-family: sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;

}
li{
  margin: 16px 0;

}

#quote{
  font-style: italic;
  text-align: center;
}

h3{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: green;
}

a:visited {
  color: red;
}